# GitHub owner (user oder org)
github_owner = "patkoch"

# Name des zu erstellenden Repos
repository_name = "tf-auto-repo"

description = "An automated created repository via Terraform"
visibility  = "public" # public | private | internal

auto_init = true

# Hinweis: Do NOT enter authentication tokens in plain text here.
# For local runs, set the GITHUB_TOKEN environment variable instead.